#hamburger,
#hamburger-content {
  display: inline;
}

#hamburger-button {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 26px;
  vertical-align: top;
  padding: 0;
  line-height: 47px;
  float: right;
  margin-right: 24px;
}

#hamburger-overlay {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#hamburger-sidebar {
  display: none;
  position: fixed;
  width: 84%;
  z-index: 20;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.2s ease-out;
}

#hamburger-sidebar li {
  display: block;
}

#hamburger-sidebar-header {
  background: url(../img/sidebar-header.png) center;
  background-size: cover;
  height: 128px;
}

#hamburger-sidebar-body {
  padding: 16px 8px;
}

#hamburger-sidebar-body li:before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4px;
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

#hamburger-sidebar-body li:first-child:before {
  background-image: url(../img/icons/discover.svg);
}

#hamburger-sidebar-body li:nth-child(2):before {
  background-image: url(../img/icons/add.svg);
}
